.root{
    min-height: 200px;
}
h4{
    margin: 0 0 20px 0;
    width: 100%;
    text-align: center;
}
.options{
    margin: 0 0 1em 0;;
}
img{
    height: 100px;
    width: 100px;
    margin: 0 1em;
}