<mat-toolbar color="primary">
    <a href="https://github.com/bdmtnz" target="_blank">
        <img src="https://avatars.githubusercontent.com/u/43625452?s=400&u=781e6b48ae45ace26f66eb22a9e4ccadc39420e1&v=4" alt="avatar">
    </a>
    <span>Brayan Martinez</span>
    <span routerLink="/game">Game</span>
    <span routerLink="/api">Api</span>
    <span class="example-spacer"></span>
    <a href="https://www.antpack.co" target="_blank">
        <img src="https://scontent.fbaq5-1.fna.fbcdn.net/v/t1.6435-9/141696088_106114258150622_1484687646807865327_n.png?_nc_cat=110&ccb=1-3&_nc_sid=09cbfe&_nc_eui2=AeEn3TnGHQ3YYY8Lgp_wK2dParBklIpXhjNqsGSUileGM27pL27pm-UdQSya8UpNabloGv7YEAc_16P5b3kU1X_t&_nc_ohc=UxC3qWLQPjcAX8G1HLv&_nc_ht=scontent.fbaq5-1.fna&oh=7039a0f15e91081dcfdab481d2f188e8&oe=6099C132" alt="avatar">
    </a>
</mat-toolbar>
