.root{
    padding: 0 4em;
}
mat-form-field{
    margin: 1em;
}
.selections{
    display: flex;
    justify-content: space-around;
}
app-selector{
    margin: 4em 0;
}
.result{
    text-align: center;
}